---
import { Image } from 'astro:assets';
import papabear_hero from '../images/PapaBearLogo-tight.png';
import discord_loog from '../images/discord-logo-white.svg'
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Papa Bear Games.">
	<main>
		<Image src={papabear_hero} alt="Papa Bear Games Logo" class="mx-auto" />
		<ul role="list" class="grid grid-cols-1 sm:grid-cols-2 gap-8 max-w-fit mx-auto">
			<Card
				href="/spaceboots"
				title="SpaceBoots"
				body="Couch multiplayer 2D zero gravity twin stick shooter."
			/>
			<Card
				href="https://www.youtube.com/watch?v=ybcZgTcK3fs"
				title="Wavelet"
				body="Casual oscillating treasure collection."
			/>
		</ul>
	</main>
</Layout>
