---
title: "Privacy Policy"
import Layout from "../layouts/Layout.astro";
---

<Layout title="Privacy Policy">
  <main class="m-auto p-4 max-w-screen-lg text-xl text-white">
    <section>
      <h1 class="text-3xl font-bold mb-4">Privacy Policy</h1>
      <p class="mb-4">
        At Papa Bear Games, we value your privacy. We do not collect, store, or share any personal data from our users. Our games are designed to be enjoyed without the need for personal information.
      </p>
      <p>
        If you have any questions or concerns, feel free to contact us.
      </p>
    </section>
  </main>
</Layout>
