---
import { Image } from 'astro:assets';
import spaceboots_hero from '../images/spaceboots_hero.png';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="SpaceBoots">
	<main>
		<Image src={spaceboots_hero} alt="" class="mx-auto" />
        <ul role="list" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 max-w-fit mx-auto">
			<Card
				href="https://store.steampowered.com/app/2104390/SpaceBoots/"
				title="SpaceBoots on Steam"
				body=""
			/>
			<Card
				href="https://www.xbox.com/en-us/games/store/spaceboots/9pks525fvgmr"
				title="SpaceBoots on Xbox"
				body=""
			/>
			<Card
				href="https://apps.microsoft.com/detail/9pks525fvgmr"
				title="SpaceBoots on Windows Store"
				body=""
			/>
		</ul>
	</main>
</Layout>
